<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/jsuites.css'%}" />
    <link rel="stylesheet" href="{% static 'css/jexcel.css'%}" />    
    <script src="{% static 'js/jsuites.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/4.6.1/jexcel.min.js"></script>
    <script src="{% static 'js/jexcel.core.js' %}"></script>
    <script src="{% static 'js/jexcel.extensions.js' %}"></script>
    <script src="{% static 'js/jexcel.formulas.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">SpreadSheets</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- add anything to navbar here -->
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <p style="color: white;font-size: 18px;margin-right: 10px;margin-top: 10px;">Hi {{request.user}}</p>
            <a href="{% url 'logout' %}"class="btn btn-warning">Logout</a>
          </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>